@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* This styles the main scrollbar container */
::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
  height: 4px; /* width of the entire scrollbar */
}

/* This styles the scrollbar track (the part the thumb slides within) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}

/* This styles the scrollbar thumb (the draggable element) */
::-webkit-scrollbar-thumb {
  background: #696767; /* color of the thumb */
  transition: all 0.5s;
}
